

.hexagon {
    width: 100px;
    height: 200px;
    overflow: hidden;
    visibility: hidden;
    transform: rotate(120deg);
    display: inline-block;
    list-style-type: none;
    }

.hexagon-in1 {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    text-decoration: none;
    }

.hexagon-in2 {
    display: block;
    width: 100%;
    height: 100%;
  	background-image: url(../img/bg9.jpg);
  	overflow: hidden;
    visibility: visible;
    line-height: 200px;
    font-family: 'Capriola', sans-serif;
    font-size: 1.4em;
    color: #fff;
    text-shadow: 1px 1px #000;
    transform: rotate(-60deg);
    transition: 1.5s ease-out;
    }

li:nth-child(1) span {
    background-position: -15px center;
  }
li:nth-child(2) span {
    background-position: -115px center;
  }
li:nth-child(3) span {
    background-position: -215px center;
  }
li:nth-child(4) span {
    background-position: -315px center;
  }
li:nth-child(5) span {
    background-position: -415px center;
  }

.hexagon-in2:hover {
    background-position: -565px center;
    color: #FCE001;
  }
#hexagon ul {text-align: center;
top:440px;
left:500px;
position:fixed;}