.tabs-left, .tabs-right {
  border-bottom: none;
  padding-top: 2px;
}

.tabs-right {
  border-left: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
  float: none;
  margin-bottom: 2px;
}
.workshop_pane .tabs-left
{
  margin-top: 25px;
  padding-bottom: 40px;
  text-align: right;
}
.tabs-left>li {
  margin-right: -1px;
}
.tabs-right>li {
  margin-left: -1px;
}
.tabs-left>li>a:hover
{
  background: rgba(0,0,0,.4);}
  
.tabs-left>li.active>a
{
  background: rgba(0,0,0,.7);
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom: none;

}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
  color:#fff;
}

.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  padding-right: 15px;
  margin-right: 0;
  display:block;
  color: #ccc;
}
.tabs-right>li>a {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}