@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

#days {
  font-size: 80px;
  color: #db4844;
}
#hours {
  font-size: 65px;
  color: #f07c22;
}
#minutes {
  font-size: 40px;
  color: #f6da74;
}
#seconds {
  font-size: 20px;
  color: #abcd58;
}

#timer {
  display: inline-block;
  line-height: 1;
  padding: 10px;
  font-size: 15px;
  position: fixed;
    bottom: 50px;
    right: 80px;
  
}

span {
  display: block;
  font-size: 20px;
  color: white;
}
